body{
    background-color: #EEF9BF;
}
.title {

    width: 100vw;
    height: 63px;
    margin: 40px auto;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;
}

.cartas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 7px auto;
}

.card {
    width: 117px;
    height: 146px;
    margin: 17px 17px;
    position: relative;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    cursor: pointer;
}

.card img {
    width: 100px;
    height: 100px;

}
.face {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

.back-face {
    transform: rotateY(180deg);
}


.virar{
    transition: all 0.8s ease;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }


.fixar {
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.disabled {
    pointer-events: none;
}   

.disabledSite {
    pointer-events: none;
}

.tempo {
    width: 46px;
    height: 47px;

    position: fixed;
    right: 32px;
    top:16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.004em;

color: #86BD8D;
}

@media (max-width: 614px) {

.title{   
    width:100vw;
    height: 63px;
    margin: 40px auto;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.004em;

    color: #75B79E;
    }

}